# Explorando os dados

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('Comparativo_Geração_de_Energia_Semana_Full_Data_data (1).csv', sep=';')

In [12]:
df.head()

,Data Escala de Tempo 1 GE Comp 3,Selecione Comparar GE Comp 3,dsc_estado,id_subsistema,Modalidade de Operação,nom_tipocombustivel2,nom_tipousinasite,nom_usina2,Período Verifica GE Comp 3,USINACEG,...,Data Dica Comp,Data do Incio da Semana Din Instante GE Comp 3,Din Instante,Din Instante GE Comp 3,Período Data 1 GE Comp 3,Período Exibido GE,Table Name,Texto Incio Semana,Val Geraenergiacongwh,Val Geraenergiaconmwmed
0,01/01/2015 00:00:00,Térmica,AMAZONAS,Norte,Tipo III,Petróleo,Térmica,Itacoatiara,Verdadeiro,Itacoatiara (CEG: UTE.PE.AM.001157-6.01),...,2015,NaN,31/12/2015 00:00:00,01/01/2015 00:00:00,01/01/2015 00:00:00,1,gr_anusinaprevcarga,NaN,0,0
1,01/01/2018 00:00:00,Térmica,AMAZONAS,Norte,Tipo III,Petróleo,Térmica,Itacoatiara,Verdadeiro,Itacoatiara (CEG: UTE.PE.AM.001157-6.01),...,2018,NaN,31/12/2018 00:00:00,01/01/2018 00:00:00,01/01/2018 00:00:00,1,gr_anusinaprevcarga,NaN,0,0
2,01/01/2016 00:00:00,Térmica,AMAZONAS,Norte,Tipo III,Petróleo,Térmica,Itacoatiara,Verdadeiro,Itacoatiara (CEG: UTE.PE.AM.001157-6.01),...,2016,NaN,31/12/2016 00:00:00,01/01/2016 00:00:00,01/01/2016 00:00:00,1,gr_anusinaprevcarga,NaN,"0,29023624","0,033041"
3,01/01/2017 00:00:00,Térmica,AMAZONAS,Norte,Tipo III,Petróleo,Térmica,Itacoatiara,Verdadeiro,Itacoatiara (CEG: UTE.PE.AM.001157-6.01),...,2017,NaN,31/12/2017 00:00:00,01/01/2017 00:00:00,01/01/2017 00:00:00,1,gr_anusinaprevcarga,NaN,0,0
4,01/01/2019 00:00:00,Térmica,AMAZONAS,Norte,Tipo III,Petróleo,Térmica,Itacoatiara,Verdadeiro,Itacoatiara (CEG: UTE.PE.AM.001157-6.01),...,2019,NaN,31/12/2019 00:00:00,01/01/2019 00:00:00,01/01/2019 00:00:00,1,gr_anusinaprevcarga,NaN,0,0

In [13]:
df1 = df[['dsc_estado', 
          'id_subsistema', 
          'nom_tipousinasite', 
          'nom_tipocombustivel2', 
          'nom_usina2', 
          'Data Dica Comp',
          'Val Geraenergiacongwh',
          'Val Geraenergiaconmwmed']]

df1.head()

,dsc_estado,id_subsistema,nom_tipousinasite,nom_tipocombustivel2,nom_usina2,Data Dica Comp,Val Geraenergiacongwh,Val Geraenergiaconmwmed
0,AMAZONAS,Norte,Térmica,Petróleo,Itacoatiara,2015,0,0
1,AMAZONAS,Norte,Térmica,Petróleo,Itacoatiara,2018,0,0
2,AMAZONAS,Norte,Térmica,Petróleo,Itacoatiara,2016,"0,29023624","0,033041"
3,AMAZONAS,Norte,Térmica,Petróleo,Itacoatiara,2017,0,0
4,AMAZONAS,Norte,Térmica,Petróleo,Itacoatiara,2019,0,0

In [15]:
df1['Val Geraenergiacongwh'] = df['Val Geraenergiacongwh'].str.replace(',', '.')
df1['Val Geraenergiaconmwmed'] = df['Val Geraenergiaconmwmed'].str.replace(',', '.')
df1.head()

<ipython-input-15-4c433fca345c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Val Geraenergiacongwh'] = df['Val Geraenergiacongwh'].str.replace(',', '.')
<ipython-input-15-4c433fca345c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Val Geraenergiaconmwmed'] = df['Val Geraenergiaconmwmed'].str.replace(',', '.')

,dsc_estado,id_subsistema,nom_tipousinasite,nom_tipocombustivel2,nom_usina2,Data Dica Comp,Val Geraenergiacongwh,Val Geraenergiaconmwmed
0,AMAZONAS,Norte,Térmica,Petróleo,Itacoatiara,2015,0,0
1,AMAZONAS,Norte,Térmica,Petróleo,Itacoatiara,2018,0,0
2,AMAZONAS,Norte,Térmica,Petróleo,Itacoatiara,2016,0.29023624,0.033041
3,AMAZONAS,Norte,Térmica,Petróleo,Itacoatiara,2017,0,0
4,AMAZONAS,Norte,Térmica,Petróleo,Itacoatiara,2019,0,0

In [16]:
df1['Val Geraenergiacongwh'] == 0

0        False
1        False
2        False
3        False
4        False
         ...
18762    False
18763    False
18764    False
18765    False
18766    False
Name: Val Geraenergiacongwh, Length: 18767, dtype: bool

In [ ]:
# PARAMOS AQUI, GALERA

#list(filter(lambda a: a != 2, x))

In [ ]:
#df.drop(indexNames , inplace=True)

#indexNames = df[ (df['Price'] >= 30)
                & (df['Price'] <= 70) ].index
#df.drop(indexNames , inplace=True)

In [4]:
# método .info() para obter os tipos de dados todas as variáveis

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18767 entries, 0 to 18766
Data columns (total 31 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Data Escala de Tempo 1 GE Comp 3                      18767 non-null  object
 1   Selecione Comparar GE Comp 3                          18767 non-null  object
 2   dsc_estado                                            18767 non-null  object
 3   id_subsistema                                         18767 non-null  object
 4   Modalidade de Operação                                18767 non-null  object
 5   nom_tipocombustivel2                                  18767 non-null  object
 6   nom_tipousinasite                                     18767 non-null  object
 7   nom_usina2                                            18767 non-null  object
 8   Período Verifica GE Comp 3                            18767 non-null  object
 9   USINACEG                                              18767 non-null  object
 10  Selecione Tipo de GE Comp 3                           18767 non-null  object
 11  cod_aneel (tb_referenciacegusina (Conjunto))          0 non-null      float64
 12  cod_aneel (tb_referenciacegusina1 (PrevCarga))        18475 non-null  object
 13  cod_aneel (tb_usina (Usina))                          0 non-null      float64
 14  cod_modalidadeoperusiconj (tb usina)                  17571 non-null  object
 15  cod_nucleoaneel (tb_referenciacegusina (Conjunto))    0 non-null      float64
 16  cod_nucleoaneel (tb_referenciacegusina (Pequena))     0 non-null      float64
 17  cod_nucleoaneel (tb_referenciacegusina (Usina))       0 non-null      float64
 18  cod_nucleoaneel (tb_referenciacegusina1 (PrevCarga))  18767 non-null  object
 19  Codigo Aneel                                          18475 non-null  object
 20  Codigo Nucleo Aneel                                   18767 non-null  object
 21  Data Dica Comp                                        18767 non-null  int64
 22  Data do Incio da Semana Din Instante GE Comp 3        0 non-null      float64
 23  Din Instante                                          18767 non-null  object
 24  Din Instante GE Comp 3                                18767 non-null  object
 25  Período Data 1 GE Comp 3                              18767 non-null  object
 26  Período Exibido GE                                    18767 non-null  int64
 27  Table Name                                            18767 non-null  object
 28  Texto Incio Semana                                    0 non-null      float64
 29  Val Geraenergiacongwh                                 18767 non-null  object
 30  Val Geraenergiaconmwmed                               18767 non-null  object
dtypes: float64(7), int64(2), object(22)
memory usage: 4.4+ MB

In [5]:
# método .columns para examinar os nomes de todas as variáveis

df.columns

Index(['Data Escala de Tempo 1 GE Comp 3', 'Selecione Comparar GE Comp 3',
       'dsc_estado', 'id_subsistema', 'Modalidade de Operação',
       'nom_tipocombustivel2', 'nom_tipousinasite', 'nom_usina2',
       'Período Verifica GE Comp 3', 'USINACEG', 'Selecione Tipo de GE Comp 3',
       'cod_aneel (tb_referenciacegusina (Conjunto))',
       'cod_aneel (tb_referenciacegusina1 (PrevCarga))',
       'cod_aneel (tb_usina (Usina))', 'cod_modalidadeoperusiconj (tb usina)',
       'cod_nucleoaneel (tb_referenciacegusina (Conjunto))',
       'cod_nucleoaneel (tb_referenciacegusina (Pequena))',
       'cod_nucleoaneel (tb_referenciacegusina (Usina))',
       'cod_nucleoaneel (tb_referenciacegusina1 (PrevCarga))', 'Codigo Aneel',
       'Codigo Nucleo Aneel', 'Data Dica Comp',
       'Data do Incio da Semana Din Instante GE Comp 3', 'Din Instante',
       'Din Instante GE Comp 3', 'Período Data 1 GE Comp 3',
       'Período Exibido GE', 'Table Name', 'Texto Incio Semana',
       'Val Geraenergiacongwh', 'Val Geraenergiaconmwmed'],
      dtype='object')

In [6]:
# descobrindo o números de linhas do dataset

df.shape

(18767, 31)

In [7]:
# verificando valores nulos/NaN

df.isnull().sum()

Data Escala de Tempo 1 GE Comp 3                            0
Selecione Comparar GE Comp 3                                0
dsc_estado                                                  0
id_subsistema                                               0
Modalidade de Operação                                      0
nom_tipocombustivel2                                        0
nom_tipousinasite                                           0
nom_usina2                                                  0
Período Verifica GE Comp 3                                  0
USINACEG                                                    0
Selecione Tipo de GE Comp 3                                 0
cod_aneel (tb_referenciacegusina (Conjunto))            18767
cod_aneel (tb_referenciacegusina1 (PrevCarga))            292
cod_aneel (tb_usina (Usina))                            18767
cod_modalidadeoperusiconj (tb usina)                     1196
cod_nucleoaneel (tb_referenciacegusina (Conjunto))      18767
cod_nucleoaneel (tb_referenciacegusina (Pequena))       18767
cod_nucleoaneel (tb_referenciacegusina (Usina))         18767
cod_nucleoaneel (tb_referenciacegusina1 (PrevCarga))        0
Codigo Aneel                                              292
Codigo Nucleo Aneel                                         0
Data Dica Comp                                              0
Data do Incio da Semana Din Instante GE Comp 3          18767
Din Instante                                                0
Din Instante GE Comp 3                                      0
Período Data 1 GE Comp 3                                    0
Período Exibido GE                                          0
Table Name                                                  0
Texto Incio Semana                                      18767
Val Geraenergiacongwh                                       0
Val Geraenergiaconmwmed                                     0
dtype: int64

As variáveis **Data do Incio da Semana Din Instante GE Comp 3** e **Texto Incio Semana** têm 'NaN' em todas as observações

In [8]:
# A função .nunique() retorna o número de elementos únicos na variável.

df['Selecione Comparar GE Comp 3'].nunique()

5

In [9]:
# Quais são essas variáveis

matriz = df['Selecione Comparar GE Comp 3'].value_counts()
matriz.head()

Hidrelétrica    9027
Térmica         4664
Eólica          4396
Solar            635
Nuclear           45
Name: Selecione Comparar GE Comp 3, dtype: int64

In [10]:
df['Selecione Comparar GE Comp 3.1'].nunique()

KeyError: 'Selecione Comparar GE Comp 3.1'

In [11]:
# Quais são essas variáveis

matriz1 = df['Selecione Comparar GE Comp 3.1'].value_counts()
matriz1.head()

KeyError: 'Selecione Comparar GE Comp 3.1'

In [16]:
df['Data Dica Comp'].nunique()

23

In [17]:
ano = df['Data Dica Comp'].value_counts()
ano.head(23)

2021    5
2020    5
2019    5
2018    5
2017    5
2016    5
2015    5
2006    4
2007    4
2008    4
2009    4
2010    4
2011    4
2012    4
2013    4
2014    4
2005    3
2004    3
2003    3
2002    3
2001    3
2000    3
1999    3
Name: Data Dica Comp, dtype: int64

In [18]:
# checando se ano comtempla todas as observações

print(ano.sum())

92

In [24]:
# criando máscara booleana para condições iguais a 'Hidrelétrica'

#hidreletrica = id_counts == 2

df_hidreletrica = df[df['Selecione Comparar GE Comp 3'] == 'Hidrelétrica']

In [25]:
df_hidreletrica.head()

,Data Escala de Tempo 1 GE Comp 3,Selecione Comparar GE Comp 3,Codigo Aneel,Codigo Nucleo Aneel,Data Dica Comp,Data do Incio da Semana Din Instante GE Comp 3,Data Escala de Tempo 1 GE Comp 3.1,Período Exibido GE,Selecione Comparar GE Comp 3.1,Texto Incio Semana,Selecione Tipo de GE Comp 3
53,01/01/1999 00:00:00,Hidrelétrica,*,*,1999,NaN,01/01/1999 00:00:00,1,Hidrelétrica,NaN,"325373,24058916"
54,01/01/2000 00:00:00,Hidrelétrica,*,*,2000,NaN,01/01/2000 00:00:00,1,Hidrelétrica,NaN,"335971,01454259"
55,01/01/2001 00:00:00,Hidrelétrica,*,*,2001,NaN,01/01/2001 00:00:00,1,Hidrelétrica,NaN,"292920,7990786"
56,01/01/2002 00:00:00,Hidrelétrica,*,*,2002,NaN,01/01/2002 00:00:00,1,Hidrelétrica,NaN,"316015,11152007"
57,01/01/2003 00:00:00,Hidrelétrica,*,*,2003,NaN,01/01/2003 00:00:00,1,Hidrelétrica,NaN,"337295,07049707"

In [39]:

print (df[pd.to_numeric(df['Selecione Tipo de GE Comp 3'], errors='coerce').isnull()])

   Data Escala de Tempo 1 GE Comp 3 Selecione Comparar GE Comp 3 Codigo Aneel  \
0               01/01/1999 00:00:00                      Térmica            *
1               01/01/2000 00:00:00                      Térmica            *
2               01/01/2001 00:00:00                      Térmica            *
3               01/01/2002 00:00:00                      Térmica            *
4               01/01/2003 00:00:00                      Térmica            *
..                              ...                          ...          ...
87              01/01/2017 00:00:00                       Eólica            *
88              01/01/2018 00:00:00                       Eólica            *
89              01/01/2019 00:00:00                       Eólica            *
90              01/01/2020 00:00:00                       Eólica            *
91              01/01/2021 00:00:00                       Eólica            *

   Codigo Nucleo Aneel  Data Dica Comp  \
0                    *            1999
1                    *            2000
2                    *            2001
3                    *            2002
4                    *            2003
..                 ...             ...
87                   *            2017
88                   *            2018
89                   *            2019
90                   *            2020
91                   *            2021

    Data do Incio da Semana Din Instante GE Comp 3  \
0                                              NaN
1                                              NaN
2                                              NaN
3                                              NaN
4                                              NaN
..                                             ...
87                                             NaN
88                                             NaN
89                                             NaN
90                                             NaN
91                                             NaN

   Data Escala de Tempo 1 GE Comp 3.1  Período Exibido GE  \
0                 01/01/1999 00:00:00                   1
1                 01/01/2000 00:00:00                   1
2                 01/01/2001 00:00:00                   1
3                 01/01/2002 00:00:00                   1
4                 01/01/2003 00:00:00                   1
..                                ...                 ...
87                01/01/2017 00:00:00                   1
88                01/01/2018 00:00:00                   1
89                01/01/2019 00:00:00                   1
90                01/01/2020 00:00:00                   1
91                01/01/2021 00:00:00                   1

   Selecione Comparar GE Comp 3.1  Texto Incio Semana  \
0                         Térmica                 NaN
1                         Térmica                 NaN
2                         Térmica                 NaN
3                         Térmica                 NaN
4                         Térmica                 NaN
..                            ...                 ...
87                         Eólica                 NaN
88                         Eólica                 NaN
89                         Eólica                 NaN
90                         Eólica                 NaN
91                         Eólica                 NaN

   Selecione Tipo de GE Comp 3
0                12329,5680043
1               15220,91427329
2               19689,21694907
3               17504,28799394
4               15337,32004255
..                         ...
87              42336,45005842
88              48442,86048863
89             55931,655957650
90              56994,10305024
91              29202,78957679

[92 rows x 11 columns]

In [36]:
# convertendo as variaveis numéricas para números

numeric_cols = df.columns.drop(['Data Escala de Tempo 1 GE Comp 3',
                                'Selecione Comparar GE Comp 3',
                                'Codigo Aneel',
                                'Codigo Nucleo Aneel', 
                                'Data Dica Comp', 
                                'Data do Incio da Semana Din Instante GE Comp 3', 
                                'Data Escala de Tempo 1 GE Comp 3.1',
                                'Período Exibido GE', 
                                'Selecione Comparar GE Comp 3.1', 
                                'Texto Incio Semana'])


df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric)

ValueError: Unable to parse string "12329,5680043" at position 0

In [28]:
# esta variável está como string (precisa converter)

df_hidreletrica['Selecione Tipo de GE Comp 3'].sum()

'325373,24058916335971,01454259292920,7990786316015,11152007337295,07049707352536,28550275370852,42818839382746,16382933406496,98107412398304,0810519415138,96906271423132,5233117449615,35134249439533,07056302412710,03645974391376,225303390272,007402221416766,70658928401148,05901522417934,30118297418182,25090291415503,0415294210475,97899475'