# Explorando os dados

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Comparativo_Geração_de_Energia_Semana_data.csv', sep=';')

In [5]:
df.head()

,Data Escala de Tempo 1 GE Comp 3,Selecione Comparar GE Comp 3,Codigo Aneel,Codigo Nucleo Aneel,Data Dica Comp,Data do Incio da Semana Din Instante GE Comp 3,Data Escala de Tempo 1 GE Comp 3.1,Período Exibido GE,Selecione Comparar GE Comp 3.1,Texto Incio Semana,Selecione Tipo de GE Comp 3
0,01/01/1999 00:00:00,Térmica,*,*,1999,NaN,01/01/1999 00:00:00,1,Térmica,NaN,"12329,5680043"
1,01/01/2000 00:00:00,Térmica,*,*,2000,NaN,01/01/2000 00:00:00,1,Térmica,NaN,"15220,91427329"
2,01/01/2001 00:00:00,Térmica,*,*,2001,NaN,01/01/2001 00:00:00,1,Térmica,NaN,"19689,21694907"
3,01/01/2002 00:00:00,Térmica,*,*,2002,NaN,01/01/2002 00:00:00,1,Térmica,NaN,"17504,28799394"
4,01/01/2003 00:00:00,Térmica,*,*,2003,NaN,01/01/2003 00:00:00,1,Térmica,NaN,"15337,32004255"

In [6]:
# método .info() para obter os tipos de dados todas as variáveis

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 11 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Data Escala de Tempo 1 GE Comp 3                92 non-null     object
 1   Selecione Comparar GE Comp 3                    92 non-null     object
 2   Codigo Aneel                                    92 non-null     object
 3   Codigo Nucleo Aneel                             92 non-null     object
 4   Data Dica Comp                                  92 non-null     int64
 5   Data do Incio da Semana Din Instante GE Comp 3  0 non-null      float64
 6   Data Escala de Tempo 1 GE Comp 3.1              92 non-null     object
 7   Período Exibido GE                              92 non-null     int64
 8   Selecione Comparar GE Comp 3.1                  92 non-null     object
 9   Texto Incio Semana                              0 non-null      float64
 10  Selecione Tipo de GE Comp 3                     92 non-null     object
dtypes: float64(2), int64(2), object(7)
memory usage: 8.0+ KB

In [7]:
# método .columns para examinar os nomes de todas as variáveis

df.columns

Index(['Data Escala de Tempo 1 GE Comp 3', 'Selecione Comparar GE Comp 3',
       'Codigo Aneel', 'Codigo Nucleo Aneel', 'Data Dica Comp',
       'Data do Incio da Semana Din Instante GE Comp 3',
       'Data Escala de Tempo 1 GE Comp 3.1', 'Período Exibido GE',
       'Selecione Comparar GE Comp 3.1', 'Texto Incio Semana',
       'Selecione Tipo de GE Comp 3'],
      dtype='object')

In [8]:
# descobrindo o números de linhas do dataset

df.shape

(92, 11)

In [9]:
# verificando valores nulos/NaN

df.isnull().sum()

Data Escala de Tempo 1 GE Comp 3                   0
Selecione Comparar GE Comp 3                       0
Codigo Aneel                                       0
Codigo Nucleo Aneel                                0
Data Dica Comp                                     0
Data do Incio da Semana Din Instante GE Comp 3    92
Data Escala de Tempo 1 GE Comp 3.1                 0
Período Exibido GE                                 0
Selecione Comparar GE Comp 3.1                     0
Texto Incio Semana                                92
Selecione Tipo de GE Comp 3                        0
dtype: int64

As variáveis **Data do Incio da Semana Din Instante GE Comp 3** e **Texto Incio Semana** têm 'NaN' em todas as observações

In [13]:
# A função .nunique() retorna o número de elementos únicos na variável.

df['Selecione Comparar GE Comp 3'].nunique()

5

In [14]:
# Quais são essas variáveis

matriz = df['Selecione Comparar GE Comp 3'].value_counts()
matriz.head()

Térmica         23
Nuclear         23
Hidrelétrica    23
Eólica          16
Solar            7
Name: Selecione Comparar GE Comp 3, dtype: int64

In [12]:
df['Selecione Comparar GE Comp 3.1'].nunique()

5

In [15]:
# Quais são essas variáveis

matriz1 = df['Selecione Comparar GE Comp 3.1'].value_counts()
matriz1.head()

Térmica         23
Nuclear         23
Hidrelétrica    23
Eólica          16
Solar            7
Name: Selecione Comparar GE Comp 3.1, dtype: int64

In [16]:
df['Data Dica Comp'].nunique()

23

In [17]:
ano = df['Data Dica Comp'].value_counts()
ano.head(23)

2021    5
2020    5
2019    5
2018    5
2017    5
2016    5
2015    5
2006    4
2007    4
2008    4
2009    4
2010    4
2011    4
2012    4
2013    4
2014    4
2005    3
2004    3
2003    3
2002    3
2001    3
2000    3
1999    3
Name: Data Dica Comp, dtype: int64

In [18]:
# checando se ano comtempla todas as observações

print(ano.sum())

92

In [24]:
# criando máscara booleana para condições iguais a 'Hidrelétrica'

#hidreletrica = id_counts == 2

df_hidreletrica = df[df['Selecione Comparar GE Comp 3'] == 'Hidrelétrica']

In [25]:
df_hidreletrica.head()

,Data Escala de Tempo 1 GE Comp 3,Selecione Comparar GE Comp 3,Codigo Aneel,Codigo Nucleo Aneel,Data Dica Comp,Data do Incio da Semana Din Instante GE Comp 3,Data Escala de Tempo 1 GE Comp 3.1,Período Exibido GE,Selecione Comparar GE Comp 3.1,Texto Incio Semana,Selecione Tipo de GE Comp 3
53,01/01/1999 00:00:00,Hidrelétrica,*,*,1999,NaN,01/01/1999 00:00:00,1,Hidrelétrica,NaN,"325373,24058916"
54,01/01/2000 00:00:00,Hidrelétrica,*,*,2000,NaN,01/01/2000 00:00:00,1,Hidrelétrica,NaN,"335971,01454259"
55,01/01/2001 00:00:00,Hidrelétrica,*,*,2001,NaN,01/01/2001 00:00:00,1,Hidrelétrica,NaN,"292920,7990786"
56,01/01/2002 00:00:00,Hidrelétrica,*,*,2002,NaN,01/01/2002 00:00:00,1,Hidrelétrica,NaN,"316015,11152007"
57,01/01/2003 00:00:00,Hidrelétrica,*,*,2003,NaN,01/01/2003 00:00:00,1,Hidrelétrica,NaN,"337295,07049707"

In [39]:

print (df[pd.to_numeric(df['Selecione Tipo de GE Comp 3'], errors='coerce').isnull()])

   Data Escala de Tempo 1 GE Comp 3 Selecione Comparar GE Comp 3 Codigo Aneel  \
0               01/01/1999 00:00:00                      Térmica            *
1               01/01/2000 00:00:00                      Térmica            *
2               01/01/2001 00:00:00                      Térmica            *
3               01/01/2002 00:00:00                      Térmica            *
4               01/01/2003 00:00:00                      Térmica            *
..                              ...                          ...          ...
87              01/01/2017 00:00:00                       Eólica            *
88              01/01/2018 00:00:00                       Eólica            *
89              01/01/2019 00:00:00                       Eólica            *
90              01/01/2020 00:00:00                       Eólica            *
91              01/01/2021 00:00:00                       Eólica            *

   Codigo Nucleo Aneel  Data Dica Comp  \
0                    *            1999
1                    *            2000
2                    *            2001
3                    *            2002
4                    *            2003
..                 ...             ...
87                   *            2017
88                   *            2018
89                   *            2019
90                   *            2020
91                   *            2021

    Data do Incio da Semana Din Instante GE Comp 3  \
0                                              NaN
1                                              NaN
2                                              NaN
3                                              NaN
4                                              NaN
..                                             ...
87                                             NaN
88                                             NaN
89                                             NaN
90                                             NaN
91                                             NaN

   Data Escala de Tempo 1 GE Comp 3.1  Período Exibido GE  \
0                 01/01/1999 00:00:00                   1
1                 01/01/2000 00:00:00                   1
2                 01/01/2001 00:00:00                   1
3                 01/01/2002 00:00:00                   1
4                 01/01/2003 00:00:00                   1
..                                ...                 ...
87                01/01/2017 00:00:00                   1
88                01/01/2018 00:00:00                   1
89                01/01/2019 00:00:00                   1
90                01/01/2020 00:00:00                   1
91                01/01/2021 00:00:00                   1

   Selecione Comparar GE Comp 3.1  Texto Incio Semana  \
0                         Térmica                 NaN
1                         Térmica                 NaN
2                         Térmica                 NaN
3                         Térmica                 NaN
4                         Térmica                 NaN
..                            ...                 ...
87                         Eólica                 NaN
88                         Eólica                 NaN
89                         Eólica                 NaN
90                         Eólica                 NaN
91                         Eólica                 NaN

   Selecione Tipo de GE Comp 3
0                12329,5680043
1               15220,91427329
2               19689,21694907
3               17504,28799394
4               15337,32004255
..                         ...
87              42336,45005842
88              48442,86048863
89             55931,655957650
90              56994,10305024
91              29202,78957679

[92 rows x 11 columns]

In [36]:
# convertendo as variaveis numéricas para números

numeric_cols = df.columns.drop(['Data Escala de Tempo 1 GE Comp 3',
                                'Selecione Comparar GE Comp 3',
                                'Codigo Aneel',
                                'Codigo Nucleo Aneel', 
                                'Data Dica Comp', 
                                'Data do Incio da Semana Din Instante GE Comp 3', 
                                'Data Escala de Tempo 1 GE Comp 3.1',
                                'Período Exibido GE', 
                                'Selecione Comparar GE Comp 3.1', 
                                'Texto Incio Semana'])


df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric)

ValueError: Unable to parse string "12329,5680043" at position 0

In [28]:
# esta variável está como string (precisa converter)

df_hidreletrica['Selecione Tipo de GE Comp 3'].sum()

'325373,24058916335971,01454259292920,7990786316015,11152007337295,07049707352536,28550275370852,42818839382746,16382933406496,98107412398304,0810519415138,96906271423132,5233117449615,35134249439533,07056302412710,03645974391376,225303390272,007402221416766,70658928401148,05901522417934,30118297418182,25090291415503,0415294210475,97899475'